.shop-card {

  color: $c-primary;

  &__pic {
    padding: 1rem;
  }

  &__info {

  }

  &__title {
    margin: 0;
    font-size: 1rem;
    text-align: center;

  }

  &__description {
    padding: 0 1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  &__options {



}
}
