// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'grid';
@import 'main';
@import 'shop-card';
@import 'button-bar';

$c-primary: #3473b5;
$c-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;

* {

  // color: $c-primary;
  font-family: sans-serif;
}


.dropdown {
  position: relative;

  &__list {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    border: 2px solid $c-primary;
    background: $c-white;

    > * + * {
      border-top: 2px solid $c-primary;
    }
  }

  &__button {
    padding: 0.25rem 0.5rem;

  }
}

.dropdown__button:hover {
  padding:  0.75rem;
}

// The following line says, "when 'dropdown' is hovered over, look for 'dropdown__list' and make it 'display: block' "
.dropdown:hover .dropdown__list {
  display: block;
}



// .dropdown .fa-square:hover {
//   .dropdown__button-pink .fa-square {
//     color: pink;
//   }
// }
//
// .button-bar__button:hover .dropdown__list {
//   .dropdown__button-pink .fa-square {
//     color: pink;
//   }
// }

.dropdown__button--pink .fa {
  color: $c-pink;

}

.dropdown__button--green .fa {
  color: $c-green;
}

.dropdown__button--blue .fa {
  color: $c-blue;
}

.dropdown__button--yellow .fa {
  color: $c-yellow;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid {
    flex-direction: column;
  }

  .shop-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__pic {
      max-width: 25%;
    }

   &__options {
    align-self: stretch;
   }
  }

  .button-bar {
    height: 100%;
    flex-direction: column;
  }
}


@media screen and (max-width: 480px) {
  .grid {
    flex-direction: column;
  }

  // .button-bar {
  //   float: right;
  //   flex-direction: column;
  // }
  //
  // .shop-card {
  //   display: flex;
  //   flex-direction: row;
  //   float: left;
  // }

}
